<%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false }) do |f| %>
  <div class="flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full space-y-8">
      <h2 class="mt-6 text-center text-3xl font-extrabold text-amber-800">
        <%= t(:sign_up)%>
      </h2>

      <input type="hidden" name="remember" value="true">
      <div class="rounded-md shadow-sm -space-y-px">
        <div>
          <%= f.label :email, t(:email), class: 'sr-only' %>
          <%= f.email_field :email, placeholder: t(:email), autofocus: true, required: true, autocomplete: "email", class: 'appearance-none rounded-none relative block w-full px-3 py-2 border-2 border-amber-600 placeholder-gray-400 text-gray-600 rounded-t-md focus:outline-none focus:ring-amber-700 focus:border-amber-700 focus:z-10 sm:text-sm' %>
        </div>
        <div>
          <% placeholder = t('devise.shared.minimum_password_length', count: @minimum_password_length) if @minimum_password_length %>
          <%= f.label :password, t(:password), class: 'sr-only' %>
          <%= f.password_field :password, placeholder: "#{t(:password)} (#{placeholder})", required: true, autocomplete: "new-password", class: 'appearance-none rounded-none relative block w-full px-3 py-2 border-2 border-amber-600 placeholder-gray-400 text-gray-600 focus:outline-none focus:ring-amber-700 focus:border-amber-700 focus:z-10 sm:text-sm' %>
        </div>
        <div>
          <%= f.label :password_confirmation, t(:password_confirmation), class: 'sr-only' %>
          <%= f.password_field :password_confirmation, placeholder: t(:password_confirmation), required: true, autocomplete: "new-password", class: 'appearance-none rounded-none relative block w-full px-3 py-2 border-2 border-amber-600 placeholder-gray-400 text-gray-600 rounded-b-md focus:outline-none focus:ring-amber-700 focus:border-amber-700 focus:z-10 sm:text-sm' %>
        </div>
      </div>

      <div class="flex items-center justify-end">
        <div class="text-sm">
          <%= render "devise/shared/links" %>
        </div>
      </div>

      <div>
        <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-amber-50 bg-amber-600 hover:bg-amber-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-amber-600">
          <span class="absolute left-0 inset-y-0 flex items-center pl-3">
            <!-- heroicon name: lock-closed -->
            <svg class="h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20" fill="currentcolor" aria-hidden="true">
              <path fill-rule="evenodd" d="m5 9v7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2h5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2h7v7a3 3 0 016 0z" clip-rule="evenodd" />
            </svg>
          </span>

          <%= t(:sign_up) %>
        </button>
      </div>
    </div>
  </div>
<% end %>
