<div class="p-2 rounded border-2 border-300/30 hover:border-gray-400/100">
  <div class="flex items-center justify-between">
    <%= link_to newsletter_message_path(newsletter_message), class: 'cursor-pointer grow', data: { turbo_frame: "newsletter_message" } do %>
      <div class="flex items-center space-x-2">
        <div class="flex items-center space-x-2">
          <img class="w-6 h-6" src="<%= unavatar_url newsletter_message.newsletter.email&.split('@')&.last %>"></img>
          <p class="text-gray-500"><%= newsletter_message.newsletter.name %></p>
        </div>

        <span class="ml-1 h-4 w-px bg-slate-300"></span>

        <h3 class="md:text-lg text-gray-600">
          <%= newsletter_message.subject %>
        </h3>
      </div>
    <% end %>

    <div class="flex items-center space-x-4">
      <% unless newsletter_message.read %>
        <div data-controller="popper">
          <div role="tooltip" data-popper-target="tooltip" class="inline-block invisible absolute z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 transition-opacity duration-300">
            Mark as Read
          </div>
          <%= link_to "", mark_as_read_path(newsletter_message.id), class: 'rounded-full bg-orange-600 flex w-3 h-3 hover:bg-orange-600/90', data: { :'popper-target' => 'element', action: 'mouseenter->popper#show mouseleave->popper#hide' } %>
        </div>
      <% end %>
      <span class="text-gray-600 text-sm">
        <%= newsletter_message.created_at.in_time_zone(current_user.preference.timezone).strftime("%b %d") %>
      </span>
    </div>
  </div>
</div>
