<% if current_user.subscribed? %>
  <%= render partial: 'shared/email_address' %>
  <%= render partial: 'shared/frequency_form' %>

  <%= turbo_frame_tag "newsletter_message", target: "_top" %>

  <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8 space-y-4">
    <% unless @any_newsletters %>
      <div class="flex items-center justify-center bg-gray-200 p-4 rounded-md text-gray-600">
        Start subscribing to newsletters to receive them in your inbox
      </div>
    <% end %>
    <% @newsletter_messages.each do |newsletter_message| %>
      <%= render partial: 'newsletter_message', locals: { newsletter_message: newsletter_message } %>
    <% end %>

    <% if @any_newsletters %>
      <%= turbo_frame_tag "read" do %>
        <div class="text-center pt-4">
          <%= link_to 'All Unread', inbox_read_index_path, class: 'underline text-amber-700', data: { turbo_frame: "unread" } %>
        </div>
      <% end %>
    <% end %>
  </div>
<% else %>
  <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8 space-y-4">
    <% if @newsletter_messages.any? %>
      <div class="flex items-center justify-center p-4 rounded-md text-gray-600 space-x-2">
        You have <%= @newsletter_messages.count %> unread newsletter messages
      </div>
    <% end %>
    <div class="flex items-center justify-center bg-amber-200 p-4 rounded-md text-gray-600 space-x-2">
      <span class="block">Subscribe to continue enjoying your newsletters!</span>
      <%= render partial: "pay/stripe/checkout_button", locals: { session: @checkout_session, title: 'Subscribe', class:'block items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-gray-200 bg-amber-600 hover:text-gray-200 hover:bg-amber-900 md:py-3 md:text-lg md:px-5' } %>
    </div>
  </div>
<% end %>
