<script>window.process = { env: {} }</script>
<% if current_user.subscribed? %>
  <%= turbo_frame_tag "newsletter_message", target: "_top" %>

  <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
    <% unless @any_newsletters %>
      <div class="flex items-center justify-center bg-orange-200 p-4 font-bold text-gray-600 mb-6">
        Start subscribing to newsletters to receive them in your inbox!
      </div>
    <% end %>

    <% if @newsletter_messages.any? %>
      <div class="flex items-center justify-end mb-2">
        <%= button_to 'Mark All As Read', inbox_read_index_path, class: 'text-sm hover:text-orange-600' %>
      </div>

      <% @newsletter_messages.each do |newsletter_message| %>
        <%= render partial: 'newsletter_message', locals: { newsletter_message: newsletter_message } %>
      <% end %>
    <% else %>
      <div class="flex items-center justify-center text-gray-600 mb-6">
        No unread messages in your inbox!
      </div>
    <% end %>

    <% if @any_newsletters %>
      <%= turbo_frame_tag "read" do %>
        <div class="text-center pt-4">
          <%= link_to 'Show Unread', inbox_read_index_path, class: 'text-sm underline text-gray-700 hover:text-orange-600', data: { turbo_frame: "unread" } %>
        </div>
      <% end %>
    <% end %>
  </div>
<% else %>
  <% if @newsletter_messages.any? %>
    <div class="flex items-center justify-center text-gray-600">
      You have <%= @newsletter_messages.count %> unread messages
    </div>
  <% end %>
<% end %>
