<div class="hidden md:block">
  <div class="ml-10 flex items-baseline space-x-4">
    <% active_class_names = 'bg-orange-600 text-white hover:bg-orange-600/75' %>
    <% non_active_class_names = 'text-gray-600 hover:text-white hover:bg-orange-600' %>

    <% if user_signed_in? %>
      <%= link_to t(:inbox), inbox_index_path, class: "px-3 py-2 rounded-md #{class_names(active_class_names => current_page?(inbox_index_path))} #{class_names(non_active_class_names => !current_page?(inbox_index_path))}" %>
      <%= link_to t(:newsletters), newsletters_path, class: "px-3 py-2 rounded-md #{class_names(active_class_names => current_page?(newsletters_path))} #{class_names(non_active_class_names => !current_page?(newsletters_path))}" %>
    <% else %>
      <%= link_to 'Why Newsletters?', '/5-reasons-newsletters-are-important', class: "px-3 py-2 rounded-md #{class_names(active_class_names => current_page?(pricing_path))} #{class_names(non_active_class_names => !current_page?(pricing_path))}" %>
      <%= link_to '5 best newsletters', '/5-best-newsletters-effective-newsletters', class: "px-3 py-2 rounded-md #{class_names(active_class_names => current_page?(pricing_path))} #{class_names(non_active_class_names => !current_page?(pricing_path))}" %>
      <%= link_to t(:pricing), pricing_path, class: "px-3 py-2 rounded-md #{class_names(active_class_names => current_page?(pricing_path))} #{class_names(non_active_class_names => !current_page?(pricing_path))}" %>
    <% end %>
  </div>
</div>
