<%= content_for :title, 'Unclutter your inbox' %>
<%= content_for :description, "Choose the desired time to get your favorite newsletters and stop cluttering your inbox!" %>

<div class="relative" data-controller="peekaboo" data-action="scroll@window->peekaboo#onScroll">
  <!-- Hero -->
  <div class="relative isolate">
    <div class="mx-auto max-w-7xl px-6 py-24 sm:py-32 lg:flex lg:items-center lg:gap-x-10 lg:px-8 lg:py-24">
      <div class="mx-auto max-w-2xl lg:mx-0 lg:flex-auto">
        <h1 class="mt-10 max-w-lg text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">
          Mailpouch helps you <span class="text-blue-450">unclutter your inbox</span>
        </h1>
        <p class="mt-6 text-lg leading-8 text-gray-600">
          No need to use your personal email address! Batch all your newsletters into 1 and enjoy your favorite newsletters in your own time.
        </p>
        <div class="mt-10 flex items-center gap-x-6">
          <%= link_to 'Start for Free!', new_user_registration_path, class: 'flex items-center justify-center px-12 py-3 font-medium leading-6 rounded text-white bg-orange-600 shadow-[10px_10px] shadow-blue-450 rotate-1 hover:-rotate-1' %>
        </div>
      </div>

      <div class="mt-16 sm:mt-24 lg:mt-0 lg:flex-shrink-0 lg:flex-grow relative">
        <svg viewBox="0 0 366 729" role="img" class="mx-auto w-[22.875rem] max-w-full drop-shadow-xl">
          <defs>
          <clipPath id="2ade4387-9c63-4fc4-b754-10e687a0d332">
          <rect width="316" height="684" rx="36" />
          </clipPath>
          </defs>
          <path fill="#4B5563" d="M363.315 64.213C363.315 22.99 341.312 1 300.092 1H66.751C25.53 1 3.528 22.99 3.528 64.213v44.68l-.857.143A2 2 0 0 0 1 111.009v24.611a2 2 0 0 0 1.671 1.973l.95.158a2.26 2.26 0 0 1-.093.236v26.173c.212.1.398.296.541.643l-1.398.233A2 2 0 0 0 1 167.009v47.611a2 2 0 0 0 1.671 1.973l1.368.228c-.139.319-.314.533-.511.653v16.637c.221.104.414.313.56.689l-1.417.236A2 2 0 0 0 1 237.009v47.611a2 2 0 0 0 1.671 1.973l1.347.225c-.135.294-.302.493-.49.607v377.681c0 41.213 22 63.208 63.223 63.208h95.074c.947-.504 2.717-.843 4.745-.843l.141.001h.194l.086-.001 33.704.005c1.849.043 3.442.37 4.323.838h95.074c41.222 0 63.223-21.999 63.223-63.212v-394.63c-.259-.275-.48-.796-.63-1.47l-.011-.133 1.655-.276A2 2 0 0 0 366 266.62v-77.611a2 2 0 0 0-1.671-1.973l-1.712-.285c.148-.839.396-1.491.698-1.811V64.213Z" />
          <path fill="#343E4E" d="M16 59c0-23.748 19.252-43 43-43h246c23.748 0 43 19.252 43 43v615c0 23.196-18.804 42-42 42H58c-23.196 0-42-18.804-42-42V59Z" />
          <foreignObject width="316" height="684" transform="translate(24 24)" clip-path="url(#2ade4387-9c63-4fc4-b754-10e687a0d332)">
          <%= image_tag('home/uncluttered.png') %>
          </foreignObject>
        </svg>
        <div class="absolute border-dashed border-2 border-blue-500 rounded shadow-md p-4 w-40 bottom-28 right-0 bg-white">
          This will be your inbox after Mailpouch
        </div>
      </div>
    </div>
  </div>

  <%= render partial: 'shared/sample_product_ui' %>

  <!-- Description -->
  <div class="relative bg-blue-450/10 overflow-x-hidden">
    <div class="max-w-7xl mx-auto py-16 lg:py-24 px-6 md:px-12 text-lg md:text-xl text-gray-700 !leading-10 tracking-wide">
      <div class="relative text-3xl">
        <p>
          <span class="bg-blue-450/30">
            You might agree with me that newsletters are a great source of information.
          </span>

          Unlike the traditional online sources, you don’t have to search them up and suss out the good from the bad ones.

          <span class="bg-orange-600/30">
            Instead, you subscribe to your favorite newsletters — from the publications and authors you love and trust.
          </span>

          And they are delivered directly to you — right into your inbox.

          <span class="bg-orange-200/50">
            Isn’t that amazing?
          </span>

          But sometimes what happens is…

          <span class="bg-blue-350/30">
            That your inbox gets cluttered and mixed up with your important emails.
          </span>
        </p>
        <p class="mt-8">
          You get interrupted by receiving the newsletters non — stop every day.

          And this starts annoying you.

          <span class="bg-orange-600/30">
            You miss out on your urgent emails, daily reminders, and important stuff.
          </span>

          It is not always easy to find the newsletters when you want to read in your free time — out of your inbox.

          <span class="bg-orange-200/50">
            So what if there was a better way—a way to keep all the advantages of the email newsletter medium somewhere?
          </span>

          Or a way to receive it on your own time in your inbox and make it easier for you to enjoy them anywhere, anytime?

          <span class="bg-blue-450/30">
            I built Mailpouch with that purpose: a place where you can enjoy your favorite newsletters <strong>whenever and wherever you want</strong>.
          </span>
        </p>
      </div>
    </div>
  </div>

  <!-- Steps -->
  <div class="overflow-hidden py-16 lg:py-24">
    <div class="relative mx-auto max-w-xl px-6 lg:max-w-7xl lg:px-8">
      <div class="relative">
        <h2 class="text-center text-3xl font-bold leading-8 tracking-tight text-gray-900 sm:text-4xl">How does it work exactly?</h2>
        <p class="mx-auto mt-4 max-w-3xl text-center text-xl text-gray-500">It is extremely simple!</p>
      </div>

      <div class="relative mt-12 lg:mt-24 lg:grid lg:grid-cols-2 lg:items-center lg:gap-10">
        <div class="relative">
          <h3 class="text-2xl font-bold tracking-tight text-gray-900 sm:text-3xl">Step 1</h3>
          <p class="mt-3 font-semibold text-lg text-gray-500">Sign Up and get your mailpouch email address.</p>
          <p class="mt-3 text-md text-gray-500">After signing up with you personal email, you will get a special email. You can then click to copy it.</p>
        </div>

        <div class="relative mx-auto w-full rounded shadow-xl ring-1 ring-black ring-opacity-5">
          <div data-controller="clipboard" class="sm:flex items-center justify-center rounded-md p-4 space-x-1 p-2">
            <span class="text-gray-600 text-sm">Subscribe to newsletters using this address:</span>
            <span data-action="click->clipboard#copy" class="flex font-bold hover:text-orange-600 cursor-pointer items-center space-x-1 justify-center">
              <span data-clipboard-target="source">email@inbox.mailpouch.app</span>
              <svg data-clipboard-target="copy" data-transition-enter="transition ease-in-out duration-500" data-transition-enter-start="transform opacity-0 scale-95" data-transition-enter-end="transform opacity-100 scale-100" data-transition-leave="transition ease-in-out duration-500" data-transition-leave-start="transform opacity-100 scale-100" data-transition-leave-end="transform opacity-0 scale-95" xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M8 5H6a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2v-1M8 5a2 2 0 002 2h2a2 2 0 002-2M8 5a2 2 0 012-2h2a2 2 0 012 2m0 0h2a2 2 0 012 2v3m2 4H10m0 0l3-3m-3 3l3 3"></path>
              </svg>

              <svg data-clipboard-target="copied" data-transition-enter="transition ease-in-out duration-500" data-transition-enter-start="transform opacity-0 scale-95" data-transition-enter-end="transform opacity-100 scale-100" data-transition-leave="transition ease-in-out duration-500" data-transition-leave-start="transform opacity-100 scale-100" data-transition-leave-end="transform opacity-0 scale-95" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-green-600 stroke-2 hidden">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
              </svg>
            </span>
          </div>
        </div>
      </div>

      <div class="relative mt-12 sm:mt-16 lg:mt-24">
        <div class="lg:grid lg:grid-flow-row-dense lg:grid-cols-2 lg:items-center lg:gap-12">
          <div class="lg:col-start-2">
            <h3 class="text-2xl font-bold tracking-tight text-gray-900 sm:text-3xl">Step 2</h3>
            <p class="mt-3 font-semibold text-lg text-gray-500">Subscribe to newsletters</p>
            <p class="mt-3 text-md text-gray-500">Use your mailpouch email to subscribe to your favorite newsletters’ and select the time when you want to receive them. Either you can read it in the browser or get a digest at a chosen time in your personal inbox.</p>
          </div>

          <div class="relative -mx-4 mt-10 lg:col-start-1 lg:mt-0">
            <%= image_tag('home/steps/second-bigger.gif', class: 'relative mx-auto w-full rounded shadow-xl ring-1 ring-black ring-opacity-5') %>
          </div>
        </div>
      </div>

      <div class="relative mt-12 lg:mt-24 lg:grid lg:grid-cols-2 lg:items-center lg:gap-12">
        <div class="relative">
          <h3 class="text-2xl font-bold tracking-tight text-gray-900 sm:text-3xl">Step 3</h3>
          <p class="mt-3 font-semibold text-lg text-gray-500">That's it!</p>
          <p class="mt-3 text-md text-gray-500">There’s no step 3. Yes, it’s that easy ;) Enjoy!</p>

        </div>

        <div class="relative -mx-4 mt-10 lg:mt-0" aria-hidden="true">
          <%= image_tag('home/steps/third-bigger.gif', class: 'relative mx-auto w-full rounded shadow-xl ring-1 ring-black ring-opacity-5') %>
        </div>
      </div>
    </div>
  </div>


  <!-- Features -->
  <div class="py-12 border-b bg-blue-450/10">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="lg:text-center pb-8">
        <p class="mt-2 text-gray-600 font-bold text-3xl leading-8 font-extrabold tracking-tight sm:text-4xl">
          Why Should You Choose Mailpouch?
        </p>
      </div>

      <div class="mt-10">
        <dl class="space-y-10 md:space-y-0 md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-10">
          <div class="flex">
            <div class="flex-shrink-0">
              <div class="flex items-center justify-center h-12 w-12 rounded-md bg-orange-600 text-white">
                <!-- Heroicon name: outline/globe-alt -->
                <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9" />
                </svg>
              </div>
            </div>
            <div class="ml-4">
              <dt class="text-lg leading-6 font-bold">
              Control
              </dt>
              <dd class="mt-2 text-base text-gray-600">
              No need to use your personal email for subscribing to your favorite newsletters and get your inbox cluttered.
              </dd>
            </div>
          </div>

          <div class="flex">
            <div class="flex-shrink-0">
              <div class="flex items-center justify-center h-12 w-12 rounded-md bg-orange-600 text-white">
                <!-- Heroicon name: outline/scale -->
                <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 6l3 1m0 0l-3 9a5.002 5.002 0 006.001 0M6 7l3 9M6 7l6-2m6 2l3-1m-3 1l-3 9a5.002 5.002 0 006.001 0M18 7l3 9m-3-9l-6-2m0-2v2m0 16V5m0 16H9m3 0h3" />
                </svg>
              </div>
            </div>
            <div class="ml-4">
              <dt class="text-lg leading-6 font-bold">
              Flexibility
              </dt>
              <dd class="mt-2 text-base text-gray-600">
              You choose your own time to receive your favorite newsletters and enjoy them whenever you want.
              </dd>
            </div>
          </div>

          <div class="flex">
            <div class="flex-shrink-0">
              <div class="flex items-center justify-center h-12 w-12 rounded-md bg-orange-600 text-white">
                <!-- Heroicon name: outline/lightning-bolt -->
                <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z" />
                </svg>
              </div>
            </div>
            <div class="ml-4">
              <dt class="text-lg leading-6 font-bold">
              Choice to Pick
              </dt>
              <dd class="mt-2 text-base text-gray-600">
              Pick where to receive your newsletters. Either you can get them on the application or your email at the desired time.
              </dd>
            </div>
          </div>

          <div class="flex">
            <div class="flex-shrink-0">
              <div class="flex items-center justify-center h-12 w-12 rounded-md bg-orange-600 text-white">
                <!-- Heroicon name: outline/annotation -->
                <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z" />
                </svg>
              </div>
            </div>
            <div class="ml-4">
              <dt class="text-lg leading-6 font-bold text-blue-650">
              No More Cluttered Inbox
              </dt>
              <dd class="mt-2 text-base text-gray-600">
              No chance to miss out on your important emails and unlimited joy in your newsletters in your free time.
              </dd>
            </div>
          </div>
        </dl>
      </div>
    </div>
  </div>

  <div data-peekaboo-target="sticky" class="sticky bottom-0 h-16 pt-8 hidden">
    <%= link_to 'Start for Free!', new_user_registration_path, data: { 'peekaboo-target' => 'button' }, class: 'absolute right-64 bottom-20 items-center justify-center px-12 py-3 font-medium leading-6 rounded text-white bg-orange-600 shadow-[10px_10px] shadow-blue-450 rotate-1 hover:-rotate-1' %>
  </div>
</div>
