<%= content_for :title, 'Blog' %>
<%= content_for :description, "Here you find the best content about newsletters" %>

<div class="bg-white">
  <div class="pt-12 sm:pt-16 lg:pt-20">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="text-center">
        <h1 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl lg:text-5xl">Blog</h1>
      </div>
    </div>l
  </div>
  <div class="mt-8 pb-16 sm:mt-12 sm:pb-20 lg:pb-28">
    <div class="relative">
      <div class="relative mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <ul class="space-y-2">
          <li>
            <%= link_to '5 best newsletters', '/5-best-newsletters-effective-newsletters', class: "text-xl underline" %>
          </li>
          <li>
            <%= link_to 'Why Newsletters?', '/5-reasons-newsletters-are-important', class: "text-xl underline" %>
          </li>
          <li>
            <%= link_to 'Elon Musk newsletter', '/elon-musk-newsletter', class: "text-xl underline" %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
