<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="description" content="<%= description %>">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= image %>" />
    <meta property="og:description" content="<%= description %>" />
    <meta property="og:site_name" content="<%= title %>" />
    <meta name="facebook-domain-verification" content="1glfk133u52ab0mfvw9u0itr0shbz9" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="<%= title %>">
    <meta name="twitter:description" content="<%= description %>">
    <meta name="twitter:image:src" content="<%= image %>">

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <% if ENV['GOOGLE_ANALYTICS_STREAM_ID'] %>
      <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=<%= ENV['GOOGLE_ANALYTICS_STREAM_ID'] %>"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '<%= ENV['GOOGLE_ANALYTICS_STREAM_ID'] %>');
      </script>
    <% end %>

    <% if ENV['FACEBOOK_PIXEL'] %>
      <!-- Meta Pixel Code -->
      <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};
          if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
          n.queue=[];t=b.createElement(e);t.async=!0;
          t.src=v;s=b.getElementsByTagName(e)[0];
          s.parentNode.insertBefore(t,s)}(window, document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '2332101196952657');
        fbq('track', 'PageView');
      </script>
      <noscript>
        <img height="1" width="1" style="display:none"
                                  src="https://www.facebook.com/tr?id=2332101196952657&ev=PageView&noscript=1"
                                  />
      </noscript>
      <!-- End Meta Pixel Code -->
    <% end %>
  </head>

  <body>
    <div class="bg-white min-h-screen">
      <%= render partial: 'shared/nav' %>
      <div class="border-b">
        <%= render partial: 'shared/frequency_form' %>
      </div>

      <div class="max-w-7xl mx-auto py-4 px-4 sm:px-6 lg:px-8 text-center">
        <% flash.each do |type, msg| %>
          <% class_name = 'font-bold text-red-600 bg-red-100' if type == 'alert' %>
          <% class_name = 'text-gray-700 bg-blue-350/40 ' if type == 'notice' %>
          <div class="flex justify-center p-4 border-2 border-black rounded-md <%= class_name %>">
            <span><%= msg.html_safe %></span>
          </div>
        <% end %>
      </div>

      <% if unsubscribe_alert %>
        <div class="max-w-xl mx-auto py-4 px-4 sm:px-6 lg:px-8 text-center">
          <div class="p-4 m-6 border-2 border-black rounded-md text-gray-700 bg-white rotate-1 hover:-rotate-1 shadow-[10px_10px] shadow-orange-600">
            <div class="flex justify-center">
            <span><%= unsubscribe_alert %></span>
            </div>
          </div>
        </div>
      <% end %>

      <main class="min-h-full">
        <%= yield %>
      </main>
    </div>

    <%= render partial: 'shared/footer'%>
  </body>
</html>
