<!DOCTYPE html>
<html>
  <head>
    <title>Mailpouch</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="bg-white">
      <%= render partial: 'shared/nav' %>

      <main class="min-h-full">
        <% flash.each do |type, msg| %>
          <% class_name = 'font-bold text-red-600 bg-red-100' if type == 'alert' %>
          <% class_name = 'text-gold-200 bg-blue-650 shadow shadow-blue-550' if type == 'notice' %>
          <div class="<%= class_name %> flex justify-center p-4">
            <span><%= msg.html_safe %></span>
          </div>
        <% end %>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
