<!DOCTYPE html>
<html>
  <head>
    <title>Mailpouch</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="bg-white min-h-screen">
      <%= render partial: 'shared/nav' %>

      <main class="min-h-full">
        <div class="flex justify-center">
          <% flash.each do |type, msg| %>
            <% class_name = 'font-bold text-red-600 bg-red-100' if type == 'alert' %>
            <% class_name = 'w-1/4 m-6 border-2 border-black rounded-md text-gray-700 bg-white rotate-1 hover:-rotate-1 shadow-[10px_10px] shadow-orange-600' if type == 'extra' %>
            <% class_name = 'text-orange-200 bg-blue-450 shadow shadow-blue-550' if type == 'notice' %>
            <div class="<%= class_name %> flex justify-center p-4">
              <span><%= msg.html_safe %></span>
            </div>
          <% end %>
        </div>

        <%= yield %>
      </main>
    </div>

    <%= render partial: 'shared/footer'%>
  </body>
</html>
